<footer class="footer-3 bg--white text-center-xs">
  <div class="col-sm-3">
    <a class="type--underline" href="mailto:{{ site.email }}">{{ site.email }}</a>
  </div>
  <div class="col-sm-3 col-sm-offset-6 text-right text-center-xs">
    <ul class="social-list">
      <li>
        <a href="{{ site.behance }}"><i class="socicon-behance"></i></a>
      </li>
      <li>
        <a href="{{ site.linkedin }}"><i class="socicon-linkedin"></i></a>
      </li>
      <li>
        <a href="{{ site.instagram }}"><i class="socicon-instagram"></i></a>
      </li>
    </ul><span class="type--fine-print">© Copyright <span class="update-year">2016</span> {{ site.title }} - All Rights Reserved</span>
  </div>
</footer>
