<footer class="footer-3 bg--white text-center-xs">
  <div class="col-sm-3">
    <span>(03) 9837 4782</span>
    <a class="type--underline" href="#">hello@pillarstudio.net</a>
  </div>
  <div class="col-sm-3 col-sm-offset-6 text-right text-center-xs">
    <ul class="social-list">
      <li>
        <a href="#"><i class="socicon-behance"></i></a>
      </li>
      <li>
        <a href="#"><i class="socicon-instagram"></i></a>
      </li>
    </ul><span class="type--fine-print">© Copyright <span class="update-year">2016</span> Medium Rare - All Rights Reserved</span>
  </div>
</footer>
