<div class="nav-container">
  <nav>
    {% if page.url == "/" %}
    <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="700">
    {% else %}
    <div class="nav-bar" data-fixed-at="700">
    {% endif %}
      <div class="nav-module logo-module left">
        <a href="/">
          <img alt="logo" class="logo logo-dark" src="/img/logo-dark.svg">
          <img alt="logo" class="logo logo-light" src="/img/logo-light.svg">
        </a>
      </div>
      <div class="nav-module menu-module left">
        <ul class="menu">
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
