---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3>About Me<br></h3>
        <p>
          {{ content }}
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="elements--title">
          <h4>What I do<br></h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-3">
          <div class="feature__left">
            <i class="icon icon-Ship"></i>
          </div>
          <div class="feature__right">
            <h6>Product Design</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-3">
          <div class="feature__left">
            <i class="icon icon-Fingerprint-2"></i>
          </div>
          <div class="feature__right">
            <h6>User Experience design</h6>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
