---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center feature">
        <h3>About Me<br></h3>
        <p>
          {{ content }}
        </p>
      </div>
    </div>
    <div class="row">
      {% for skill in page.skills %}
      <div class="col-sm-4">
        <div class="feature feature-2">
          <div class="feature__title text-center">
            <i class="icon icon-{{ skill.icon }}"></i>
            <h6>{{ skill.name }}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center feature">
          <a class="btn btn--primary" href="{{ page.resume.file }}" target="_blank">
            <span class="btn__text">
              Resume
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          {{ page.contact.text | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>
