<section class="features features-6 bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <img alt="pic" src="img/feature-1.png">
      </div>
      <div class="col-sm-5">
        <h3>Your Site,
          <em>Your Way.</em>
        </h3>
        <p class="lead">
          A multitude of colour and font options make Pillar's look dynamic and adaptable.
        </p>
        <div class="feature feature-2 col-xs-6 col-sm-12">
          <div class="feature__title">
            <i class="icon icon-Fingerprint-2"></i>
            <h6>Over 2,000 Icons</h6>
          </div>
          <p>
            Pillar includes the premium Icons Mind icon kit: A stunning collection of icons to suit multiple purposes.
          </p>
        </div>
        <div class="feature feature-2 col-xs-6 col-sm-12">
          <div class="feature__title">
            <i class="icon icon-Photo-2"></i>
            <h6>Beautiful Typography</h6>
          </div>
          <p>
            Pillar includes attractive and flexible font pairs to suit a range of purposes - we've done the hunting for you you!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
