---
layout: default
---

<section class="masonry-contained">
  <div class="container">
    <div class="row">
      <div class="masonry">
        <div class="masonry__filters text-center" data-filter-all-text="Show All"></div>
        <div class="masonry__container masonry--animate masonry--active">
          <div class="col-sm-4 masonry__item" data-masonry-filter="digital">
            <a href="#">
              <div class="card card-3">
                <div class="card__image">
                  <img alt="Pic" src="/img/work14.jpg">
                </div>
                <div class="card__body boxed bg--white">
                  <div class="card__title">
                    <h5>Pillar Website</h5>
                  </div>
                  <span>
                    <em>Digital Presence</em>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 masonry__item" data-masonry-filter="digital">
            <a href="#">
              <div class="card card-3">
                <div class="card__image">
                  <img alt="Pic" src="/img/work14.jpg">
                </div>
                <div class="card__body boxed bg--white">
                  <div class="card__title">
                    <h5>Pillar Website</h5>
                  </div>
                  <span>
                    <em>Digital Presence</em>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 masonry__item" data-masonry-filter="digital">
            <a href="#">
              <div class="card card-3">
                <div class="card__image">
                  <img alt="Pic" src="/img/work14.jpg">
                </div>
                <div class="card__body boxed bg--white">
                  <div class="card__title">
                    <h5>Pillar Website</h5>
                  </div>
                  <span>
                    <em>Digital Presence</em>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 masonry__item" data-masonry-filter="digital">
            <a href="#">
              <div class="card card-3">
                <div class="card__image">
                  <img alt="Pic" src="/img/work14.jpg">
                </div>
                <div class="card__body boxed bg--white">
                  <div class="card__title">
                    <h5>Pillar Website</h5>
                  </div>
                  <span>
                    <em>Digital Presence</em>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 masonry__item" data-masonry-filter="digital">
            <a href="#">
              <div class="card card-3">
                <div class="card__image">
                  <img alt="Pic" src="/img/work14.jpg">
                </div>
                <div class="card__body boxed bg--white">
                  <div class="card__title">
                    <h5>Pillar Website</h5>
                  </div>
                  <span>
                    <em>Digital Presence</em>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 masonry__item" data-masonry-filter="digital">
            <a href="#">
              <div class="card card-3">
                <div class="card__image">
                  <img alt="Pic" src="/img/work14.jpg">
                </div>
                <div class="card__body boxed bg--white">
                  <div class="card__title">
                    <h5>Pillar Website</h5>
                  </div>
                  <span>
                    <em>Digital Presence</em>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
